.file-input{
    width: 100%;
}
.file-preview .fileinput-remove{
    top: 15px !important;
    right: 15px !important;
}
.file-panel{
    padding: 42px 36px !important;
}
.file-preview{
    padding: 24px !important;
    margin-bottom: 24px !important;
}